/*.label {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    cursor: pointer;*/
/*}*/

.checkbox {
    /*appearance: none;*/
    width: 20px;
    height: 20px;
    /*background: #8ed58e;*/
    margin-right: 10px;
    cursor: pointer;
}

.checkbox:checked {
    /*appearance: none;*/
    /*background-image: url("free-icon-tick-3106690.png");*/
}

/*.checkbox:focus {*/
/*    outline: #99ff99 solid 1px;*/
/*}*/

.spanClassName {

}